<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="be.leclick.mylauncher"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions et features essentiels Quest, Passthrough, Handtracking -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />
    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false" />

    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API" />
    <uses-permission android:name="com.oculus.permission.USE_SCENE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <application
            android:label="@string/app_name"
            android:icon="@mipmap/app_icon"
            android:allowBackup="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:replace="android:allowBackup">

        <!-- ACTIVITÉ PRINCIPALE UNITY (DOIT CORRESPONDRE À UNITY BUILD !) -->
        <activity
                android:name="com.unity3d.player.UnityPlayerGameActivity"
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"
                android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
                android:excludeFromRecents="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />
        </activity>

        <!-- SI TU UTILISES UNE AUTRE ACTIVITY POUR LANCER, MODIFIE LE android:name CI-DESSUS ET ASSURE-TOI QUE UNITY BUILDE AVEC CETTE ACTIVITY ! -->

        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />
        <meta-data android:name="com.oculus.ossplash.background" android:value="passthrough-contextual" />
        <meta-data android:name="com.oculus.telemetry.project_guid" android:value="c7a6f8db-b95a-4628-8c65-74ce490e5055" />
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|questpro|quest3|quest3s" tools:replace="android:value"/>
    </application>
</manifest>
